@{
    ViewBag.Title = "Employee Not Found";
}

<h2>@ViewBag.Message</h2>
<p>The employee you're searching for does not exist in our records.</p>
<a href="/Employee/SearchEmployee">Back to Search</a>
