@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <thead> EmployeeFormApp!</h1>
    <p>class Here your can add employee details and retrive the register employee</p>
</div>
